In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('housing_prices.csv')
print(data.shape)
data.head()

(50, 5)

   AREA  FLOOR  ROOM CODE  PRICE
0  1000      7     2    B   5618
1  1030      7     1    A   5201
2  1060      1     1    A   4779
3  1090      6     1    A   5425
4  1120      0     2    B   5657

In [3]:
# Feature matrix and target matrix
X = data.iloc[:,:3] # assign columns "AREA","Floor" and "Room" to x
Y = data.iloc[:,4]

In [4]:
# split the data 
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.2,random_state = 100)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(40, 3)
(10, 3)
(40,)
(10,)

In [5]:
# fit the line and train the model
from sklearn.linear_model import LinearRegression
mlr_model = LinearRegression()
mlr_model.fit(x_train,y_train)

print(mlr_model.intercept_)
print(mlr_model.coef_)

-3106.4127920034116
[   4.68576316   71.78274093 1894.45529322]

In [6]:
# calculate the r2 score
mlr_model.score(x_train,y_train) # training

0.9646204930750824

In [9]:
from sklearn.metrics import r2_score
r2_score(y_test,mlr_model.predict(x_test))

0.8606154687481633